# SPDX-FileCopyrightText: Copyright 2021 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

name: PHP Tests
on:
  workflow_call:
    inputs:
      coding-standard:
        required: false
        type: string
        default: 'Lunr'
      minimum-php-version:
        required: false
        type: string
        default: '8.3'
      stable-php-versions:
        required: true
        type: string
        default: '["8.3"]'
      experimental-php-versions:
        required: false
        type: string
        default: '["8.4", "8.5"]'
      allow-phpstan-failures:
        required: false
        type: boolean
        default: false
      phpcs-whitelist:
        required: false
        type: string
        default: ''
      php-extensions:
        required: false
        type: string
        default: ''

jobs:
  phpunit:
    uses: lunr-php/actions-templates/.github/workflows/phpunit-l10n.yml@master
    with:
      php-extensions: ${{ inputs.php-extensions }}
      stable-php-versions: ${{ inputs.stable-php-versions }}
      experimental-php-versions: ${{ inputs.experimental-php-versions }}

  phpcs:
    uses: lunr-php/actions-templates/.github/workflows/phpcs.yml@master
    with:
      coding-standard: ${{ inputs.coding-standard }}
      minimum-php-version: ${{ inputs.minimum-php-version }}
      php-extensions: ${{ inputs.php-extensions }}

  phpstan:
    uses: lunr-php/actions-templates/.github/workflows/phpstan.yml@master
    with:
      allow-phpstan-failures: ${{ inputs.allow-phpstan-failures }}
      minimum-php-version: ${{ inputs.minimum-php-version }}
      php-extensions: ${{ inputs.php-extensions }}
