# SPDX-FileCopyrightText: Copyright 2021 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

name: PHP Tests
on:
  workflow_call:
    inputs:
      coding-standard:
        required: false
        type: string
        default: 'Lunr'
      minimum-php-version:
        required: false
        type: string
        default: '8.3'
      stable-php-versions:
        required: true
        type: string
        default: '["8.3"]'
      experimental-php-versions:
        required: false
        type: string
        default: '["8.4", "8.5"]'
      phpcs-whitelist:
        required: false
        type: string
        default: ''
      php-extensions:
        required: false
        type: string
        default: ''

    secrets:
      COMPOSER_AUTH:
        required: false
      SLACK_WEBHOOK_URL:
        required: false

jobs:
  phpunit:
    uses: ./.github/workflows/phpunit.yml
    secrets:
      COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    with:
      php-extensions: ${{ inputs.php-extensions }}
      stable-php-versions: ${{ inputs.stable-php-versions }}
      experimental-php-versions: ${{ inputs.experimental-php-versions }}

  coding-standard:
    uses: ./.github/workflows/phpcs.yml
    secrets:
      COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    with:
      coding-standard: ${{ inputs.coding-standard }}
      minimum-php-version: ${{ inputs.minimum-php-version }}
      php-extensions: ${{ inputs.php-extensions }}

  phpstan:
    uses: ./.github/workflows/phpstan.yml
    secrets:
      COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    with:
      minimum-php-version: ${{ inputs.minimum-php-version }}
      php-extensions: ${{ inputs.php-extensions }}
