# SPDX-FileCopyrightText: Copyright 2021 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

name: PHP Tests
on:
  workflow_call:
    inputs:
      codestyle-branch:
        required: false
        type: string
        default: master
      minimum-php-version:
        required: false
        type: string
        default: '8.1'
      allow-style-failures:
        required: false
        type: boolean
        default: false

jobs:

  phpcs:
    runs-on: ubuntu-latest
    continue-on-error: ${{ inputs.allow-style-failures }}
    name: "PHPCS"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Just
        uses: extractions/setup-just@v3

      - name: Justfiles checkout
        uses: actions/checkout@v4
        with:
            repository: 'lunr-php/justfiles'
            ref: master

            # Relative path under $GITHUB_WORKSPACE to place the repository
            path: 'lunr-justfiles'

      - name: Codestyle checkout
        uses: actions/checkout@v4
        with:
            repository: 'lunr-php/lunr-coding-standard'
            ref: ${{ inputs.codestyle-branch }}

            # Clone submodules recursively. `true` should be enough, but better be safe
            submodules: 'recursive'

            # Relative path under $GITHUB_WORKSPACE to place the repository
            path: 'codestyle'

      - name: Install dependencies
        working-directory: 'codestyle'
        run: composer install

      - name: Set up PHPCS
        uses: shivammathur/setup-php@8f8196743c19b9fcb7b11d926cfab463116c3ae9 # v2.35.5+4
        with:
          php-version: ${{ inputs.minimum-php-version }}
          tools: cs2pr, phpcs:3.x

      - name: Run PHPCS
        run: just phpcs
        env:
          LUNR_JUSTFILES: "${{ github.workspace }}/lunr-justfiles"
          LUNR_CODING_STANDARD: "${{ github.workspace }}/codestyle/Lunr"

      - name: Convert checkstyle output to github style
        if: always()
        run: cat ./build/logs/checkstyle.xml | cs2pr
