# SPDX-FileCopyrightText: Copyright 2021 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

name: PHP Tests
on:
  workflow_call:
    inputs:
      coding-standard:
        required: false
        type: string
        default: 'Lunr'
      minimum-php-version:
        required: false
        type: string
        default: '8.3'
      php-extensions:
        required: false
        type: string
        default: ''

jobs:

  phpcs:
    runs-on: ubuntu-latest
    continue-on-error: false
    name: "PHPCS"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Just
        uses: extractions/setup-just@v3

      - name: Set up PHPCS
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5+5
        with:
          php-version: ${{ inputs.minimum-php-version }}
          extensions: ${{ inputs.php-extensions }}
          tools: cs2pr

      - name: Install dependencies
        run: composer update

      - name: Run PHPCS
        run: just phpcs
        env:
          LUNR_JUSTFILES: "${{ github.workspace }}/lunr-justfiles"

      - name: Convert checkstyle output to github style
        if: always()
        run: cat ./build/logs/checkstyle.xml | cs2pr
