# SPDX-FileCopyrightText: Copyright 2021 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

name: PHP Tests
on:
  workflow_call:
    inputs:
      minimum-php-version:
        required: false
        type: string
        default: '8.3'
      allow-phpstan-failures:
        required: false
        type: boolean
        default: false
      php-extensions:
        required: false
        type: string
        default: ''

jobs:

  phpstan:
    runs-on: ubuntu-latest
    continue-on-error: ${{ inputs.allow-phpstan-failures }}
    name: "PHPStan"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Just
        uses: extractions/setup-just@v3

      - name: Justfiles checkout
        uses: actions/checkout@v4
        with:
            repository: 'lunr-php/justfiles'
            ref: master

            # Relative path under $GITHUB_WORKSPACE to place the repository
            path: 'lunr-justfiles'

      - name: Set up PHPStan
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5+5
        with:
          php-version: ${{ inputs.minimum-php-version }}
          tools: phpstan
          extensions: ${{ inputs.php-extensions }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer update

      - name: Run PHPStan
        run: just phpstan
        env:
          LUNR_JUSTFILES: "${{ github.workspace }}/lunr-justfiles"
