# SPDX-FileCopyrightText: Copyright 2021 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

name: PHPUnit
on:
  workflow_call:
    inputs:
      stable-php-versions:
        required: true
        type: string
        default: '["8.3"]'
      experimental-php-versions:
        required: false
        type: string
        default: '["8.4", "8.5"]'
      php-extensions:
        required: false
        type: string
        default: ''

jobs:
  generate-matrix:
    name: Generate matrix for phpunit
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set matrix for build
        id: set-matrix
        run: |
          JSON=$(jq --null-input --arg stable '${{ inputs.stable-php-versions }}' --arg experimental '${{ inputs.experimental-php-versions }}' '{"php-versions": $stable | fromjson, "experimental": [ false ], "include":[ $experimental | fromjson | .[] as $version | {"php-versions": $version, "experimental": true} ]} | tostring')
          echo "matrix=$JSON" >> $GITHUB_OUTPUT

  phpunit:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    name: "PHP-${{ matrix.php-versions }}: PHPUnit"
    needs: generate-matrix
    strategy:
      matrix: ${{ fromJson(fromJson(needs.generate-matrix.outputs.matrix)) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Just
        uses: extractions/setup-just@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5+5
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: ${{ inputs.php-extensions }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Install dependencies
        run: composer update

      - name: Install GNU gettext
        run: sudo apt install gettext language-pack-de language-pack-nl

      - name: Generate German locale
        run: sudo locale-gen de_DE

      - name: Generate Dutch locale
        run: sudo locale-gen nl_NL

      - name: Generate localization files
        run: support/gen_l10n.sh

      - name: Run PHPunit
        run: just phpunit
        env:
          LUNR_JUSTFILES: "${{ github.workspace }}/lunr-justfiles"

      - name: Collect code coverage
        uses: codecov/codecov-action@v4
        with:
          files: ./build/logs/clover.xml
